.showgrid-toggle {position: fixed; top: 0; right: 0; display:block; width:100%; background:#222;line-height:25px; text-align:center;text-decoration:none;opacity:0.9; color: #fff;}
showgrid-toggle:hover{background: #333;}
#layout-options { position:fixed; top:0; right:0;}

#docs 
{
	padding-top:50px;
	
	.box { columns:24; border-top: 5px solid #ddd; padding:13px 0 0 0; }
	.box .description {columns:8; }
	.box h3	{ columns:4; }
	.box pre { columns:12;margin-right:0;background:#eee;padding:grid(baseline);margin-top:0}
	.box code {margin:0;}
}