/* @group Font Stacks */
/* -------------------------------------------------------------- */
	
	/*
	Based on the work of Nathan from Unit Interactive.
	
	For titles:
	font-family: Ideal, Alternative, Common, Generic;
	
	For body copy:
	font-family: Ideal, Fit, Common, Generic;
	
	http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/
	
	*/
	
	@base(invertedText)
	{
		color:const(invertedTextColor);
		
		a { color: const(invertedLinkColor); }
		a:hover { color: const(invertedLinkHoverColor); }
	!}

	@base(times)
	{
		font-family: Times, Times New Roman, Georgia, serif;
	!}
	
	@base(helvetica)
	{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	!}
	
	@base(myriad)
	{
		font-family: "MyriadPro", Myriad, "Helvetica Neue", Helvetica, Arial, sans-serif;
	!}
	
	@base(baskerville)
	{
		font-family: Baskerville, Times New Roman, Times, serif;
	!}
	
	@base(cambria)
	{
		font-family: Cambria, Georgia, Times, Times New Roman, serif;
	!}
	
	@base(centurygothic)
	{
		font-family: Century Gothic, Apple Gothic, sans-serif;
	!}
	
	@base(monospace)
	{
		font-family: "Espresso Mono", Consolas, Lucida Console, Monaco, monospace;
	!}
	
	@base(franklingothic)
	{
		font-family: Franklin Gothic Medium, Arial Narrow Bold, Arial, sans-serif;
	!}
	
	@base(futura)
	{
		font-family: Futura, Century Gothic, AppleGothic, sans-serif;
	!}
	
	@base(garamond)
	{
		font-family: Garamond, Hoefler Text, Times New Roman, Times, serif;
	!}

	@base(geneva)
	{
		font-family: Geneva, Verdana, Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	!}
	
	@base(georgia)
	{
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	!}
	
	@base(gillsans)
	{
		font-family: Gill Sans, Calibri, Trebuchet, sans-serif;
	!}
	
	@base(impact)
	{
		font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;
	!}
	
	@base(palatino)
	{
		font-family: Palatino, Palatino Linotype, Hoefler Text, Times, Times New Roman, serif ;
	!}

	@base(tahoma)
	{
		font-family: Tahoma, Geneva, Verdana;
	!}
	
	@base(trebuchet)
	{
		font-family: Trebuchet, Tahoma, Arial, sans-serif;
	!}

/* @end */