/* -------------------------------------------------------------------- */

/* @group Typography Utilities */
	
/* -------------------------------------------------------------------- */
		
	/* Incremental Leading - for every 4 lines of normal type, there are 5 lines of
	smaller type */
	.incr-leading 
	{ 
		line-height: math('(grid(baseline)*4)/5')px; 
		font-size: 0.8em; 
	} 


	/* Surround uppercase words and abbreviations with this class.
   Based on work by Jørgen Arnor Gårdsø Lom [http://twistedintellect.com/] */
	.caps 
	{ 
	  font-variant: small-caps; 
	  letter-spacing: 1px; 
	  text-transform: lowercase; 
	  font-size:1.2em;
	  line-height:1%;
	  font-weight:bold;
	  padding:0 2px;
	}
	
	
	/* Special Links */
	a.external:after		{ margin:0 5px 0 0; font-family:"Zapf Dingbats"; content: "\279C"; } 
 	a[href$="pdf"]:after	{ content: " (PDF)"; }  
	a[href$=".doc"]:after	{ content: " (DOC)"; } 
	
	/* Drop Cap */
	p.drop-cap:first-letter
	{  
		display:block;  
		margin:5px 0 0 5px;  
		float:left;    
		font-size:60px;  
		font-family:Georgia;  
	}
	
	/* For some nice Ampersands */
	.nice-amp 
	{ 
	  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
	  font-style: italic;
	  font-weight: normal;
	}
	
   	/* For manual image-replaced titles */
   	.image-replaced
	{
		display:block;
		text-indent:-9999px;
		background-repeat: no-repeat;
		background-position: 0 0;
		overflow:hidden;
	}
	
