/* -------------------------------------------------------------------- */

/* @group Screen.css */
	
/* -------------------------------------------------------------------- */

	@grid 
	{
		column-width:23;
		gutter-width:18;
		column-count:24;
		baseline:18;
	}
		
	@server import url('system/snippets/');
	@server import url('system/frameworks/');
	@server import url('sections/');

		
/* @end */  
		
	

	