@grid
{
	column-width:30;
	column-count:24;
	left-gutter-width:0;
	right-gutter-width:20;
	baseline:18;
	unit:px;
}

/**
 * This mixin will generate all of the classes a
 * normal framework creates, columns, spans, pushes,
 * pulls, append columns etc, all based on your grid.
 */
+grid-classes;