// For smoother downsampling in IE7+
img { -ms-interpolation-mode: bicubic; } 

// Fix button padding
button { padding:4px 10px 3px 7px; }

/* WARNING. You will get the double margin bug and the overflow bug if you
don't use these properties for ie6. I've separated them, as ie6 support
is up to the designer */
.ie6fix		{  overflow:hidden; display:inline;} 