/**
* Border-box
*
* REQUIRES the Browsers and Constants plugins
* CSS3 box-sizing:border-box for the browsers that support it
*/
=border-box 
{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	behavior:url("!scaffold_url/framework/behaviours/boxsizing.htc");
}

/**
 * Rotate an element 90, 180 or 270 degrees
 */
=rotate(!angle)
{
	-webkit-transform: rotate(#[!angle]deg);
	-moz-transform: rotate(#[!angle]deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#[90 / !angle]);
}

/**
 * Adds a drop shadow
 */
=box-shadow(!blur, !color, !x, !y)
{
	-moz-box-shadow:!x !y !blur !color;
	-webkit-box-shadow:!x !y !blur !color;
	box-shadow:!x !y !blur !color;
}

/**
* Opacity
* 
* Thanks to Chris Eppstein. Borrowed this one from Compass. 
* Takes a number from 0 to 1.
*/
=opacity(!opacity = 1)
{
	opacity: !opacity;
	-moz-opacity: !opacity;
	-khtml-opacity: !opacity;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#[!opacity*100])";
	filter: "alpha(opacity=#[!opacity*100])";
}

/**
* Easier way to use border-radius
*/
=border-radius(!radius)
{
	-webkit-border-radius:!radius;
	-moz-border-radius:!radius;
	border-radius:!radius;
}

=border-top-left-radius(!radius)
{
	-webkit-border-top-left-radius:!radius;
	-moz-border-radius-topleft:!radius;
}

=border-top-right-radius(!radius)
{
	-webkit-border-top-right-radius:!radius;
	-moz-border-radius-topright:!radius;
}

=border-bottom-left-radius(!radius)
{
	-webkit-border-bottom-left-radius:!radius;
	-moz-border-radius-bottomleft:!radius;
}

=border-bottom-right-radius(!radius)
{
	-webkit-border-bottom-right-radius:!radius;
	-moz-border-radius-bottomright:!radius;
}

=border-top-radius(!radius)
{
	+border-top-left-radius(!radius);
	+border-top-right-radius(!radius);
}

=border-bottom-radius(!radius)
{
	+border-bottom-left-radius(!radius);
	+border-bottom-right-radius(!radius);
}

=border-left-radius(!radius)
{
	+border-top-left-radius(!radius);
	+border-bottom-left-radius(!radius);
}

=border-right-radius(!radius)
{
	+border-top-right-radius(!radius);
	+border-bottom-right-radius(!radius);
}

/**
 * Specify the size of the background image in pixels or percentage.
 * Firefox 3.6+ can also have values of cover or contain
 * @see https://developer.mozilla.org/en/CSS/-moz-background-size
 */
=background-size(!x, !y)
{
	-o-background-size:!x !y;
	-webkit-background-size:!x !y;
	-khtml-background-size:!x !y;
	-moz-background-size:!x !y;
}

/**
 * Adds an ellipsis or clips the text 
 * Options are "ellipsis" or "clip"
 * @see http://www.css3.info/preview/text-overflow/
 */
=text-overflow(!type = "ellipsis")
{
	text-overflow:!type;
	-o-text-overflow:!type;
}

/**
 * CSS3 Multi column layout
 * @see http://www.css3.info/preview/multi-column-layout/
 */
=column-width(!width)
{
	-moz-column-width:!width;
	-webkit-column-width:!width;
}

=column-count(!count)
{
	-moz-column-count:!count;
	-webkit-column-count:!count;
}

=column-rule(!color, !style, !thickness)
{
	-moz-column-rule:!color !style !thickness;
	-webkit-column-rule:!color !style !thickness;
}

=column-gap(!gap)
{
	-moz-column-gap:!gap;
	-webkit-column-gap:!gap;
}