/**
* Demo
*
* These are styles for the demo. They test out every plugin and make
* sure they are all functioning the way they should be.
*
*/

/* @group Common */ 
/* ------------------------------------------------------------------------ */

#content-test 
{
	p,h1,h2,h3,h4,h5,h6,ul,ol
	{
		+prepend(4);
		+append(2);
	}
}

#plugin-tests .group > div
{
	+border-box;
	+rounded(10px);
	padding:20px;
	background:#f8f8f8;
}



/* @end */
/* @group Base64 */
/* ------------------------------------------------------------------------ */

.base64 
{
	background-image: embed('/css/assets/backgrounds/flowers.jpg');
	color:#fff;
	padding:10px;
	+border-box;
}

/* @end */
/* @group Browsers */
/* ------------------------------------------------------------------------ */

.browsers
{
	background:#eee;
	
	@if(!browser == "Firefox")
	{
		background:red;
	}
	
	@if(!browser == "Safari")
	{
		background:blue;
	}
	
	@if(!browser == "Internet Explorer")
	{
		background:pink;
	}
}

/* @end */
/* @group Mixins */
/* ------------------------------------------------------------------------ */

.mixin-test-1
{
	+no-bullets;
	+reset;
	
	li { margin-top:!baseline; }
}

.mixin-test-2
{
	+helvetica;
}

.mixin-test-3
{
	+all-caps;
	.amp { +nice-amp; }
}

.mixin-conditional 
{
	+conditional-test(true);
}

.mixin-conditional-2
{
	+conditional-test;
}

=conditional-test(!bg = false)
{
	@if(!bg == false)
	{
		border:3px solid #eee;
	}
	@else
	{
		background:#eee;
	}
}

/* @end */
/* @group Constants */
/* ------------------------------------------------------------------------ */

@constants
{
	test-constant:red;
	selector-group:".constants-1,.constants-2,.constants-3";
	test-content:"This content was inserting using a constant";
}

.constants
{
	color:!test-constant;
}

!selector-group
{
	color:pink;
}

.constants-content
{
	content: "!test-content";
}

/* @end */
/* @group Expressions */
/* ------------------------------------------------------------------------ */

.expression
{
	height:eval((100*1.5) - 10 / 20)px;
	background:#eee;
}

.expression-2
{
	padding:eval(floor(!baseline * 1.5))px;
	border:1px solid #eee;
	margin-top:!baseline;
}

/* @end */
/* @group Image replacement */
/* ------------------------------------------------------------------------ */

.image-replacement
{
	image-replace:url(/css/assets/titles/none.png);
}

.image-replacement-relative
{
	image-replace:url('assets/titles/none.png');
}

/* @end */
/* @group Multiple properties */
/* ------------------------------------------------------------------------ */

.multiple-properties
{
	border, background-color, color: #000;
	border:1px solid;
}

.multiple-properties-2
{
	margin,padding:0;
	list-style,background:none;
}

/* @end */
/* @group Extends */
/* ------------------------------------------------------------------------ */

.box 
{
	border:1px solid #eee;
	background:#fff;
	height:50px;
}

.special-box
{
	extends:'.box';
	padding:10px;
	border-width:4px;
	margin-top:!baseline;
}

.another-box
{
	extends:'.special-box';
	padding:5px;
	background:#555;
	color:#fff;
}

/* @end */
/* @group Box sizing */
/* ------------------------------------------------------------------------ */

.box-sizing,
.box-sizing-2,
.box-sizing-3,
.box-sizing-4
{
	+border-box;
	float:left;
	margin-right:eval(!gutter-width*2)px;
	width:210px;
	margin-top:0;
}