/**
 * Easily position an element around
 * Thanks to Jazen's Compass plugin for these
 */
=position(!mode = "absolute", !top = false, !right = false, !bottom = false, !left = false)
{
	position:!mode;
	
	@if(!top != false) 		{ top:!top; }
	@if(!left != false) 	{ left:!left; }
	@if(!right != false) 	{ right:!right; }
	@if(!bottom != false)	{ bottom:!bottom; }
}

=absolute(!top = false, !right = false, !bottom = false, !left = false)
{
	+position("absolute", !top, !right, !bottom, !left);
}

=relative(!top = false, !right = false, !bottom = false, !left = false)
{
	+position("relative", !top, !right, !bottom, !left);
}

=move(!top = false, !right = false, !bottom = false, !left = false)
{
	+relative(!top, !right, !bottom, !left);
}

=move-up(!up = 0)
{
	+move(-!up);
}

=move-right(!right = 0)
{
	+move(false, -!right);
}

=move-down(!down = 0)
{
	+move(false, false, -!down);
}

=move-left(!left = 0)
{
	+move(false, false, false, -!left);
}

=size(!width, !height)
{
	width:!width;
	height:!height;
}
 
/**
 * Sharpen an image if it has become blurry due to upscaling or downscaling
 * Useful mainly in flat color images
 * @see https://developer.mozilla.org/en/CSS/image-rendering
 */
=sharpen
{
	image-rendering:-moz-crisp-edges;
	
	@browser gte IE 7 
	{
		-ms-interpolation-mode:nearest-neighbor;  /* IE 7+ */
	} 
}

/**
 * When photos are upscaled or downscaled, they often get blurry. Don't use
 * this on flat color images, they will still appear blurry.
 * Use the +sharpen mixin instead. 
 * @see https://developer.mozilla.org/en/CSS/image-rendering
 */
=high-quality
{
	image-rendering:optimizeQuality;
	
	@browser gte IE 7 
	{
		-ms-interpolation-mode:bicubic;  /* IE 7+ */
	}
}

/**
 * Optimizes the rendering on images so they
 * appear faster, but at a lower quality. Useful for <video>
 */
=low-quality
{
	image-rendering:optimizeSpeed;
}

/**
* Horizontal List
*
* Turns a ul into a horizontal list, ready to be used as 
* a menu.
*
* @type Mixin
*/
=horizontal-list
{
	+reset;
  	+clearfix;
	
	li
	{
		+no-bullet;
		+float(left);
		white-space:nowrap;
	}
}

/**
* No Bullet
*
* Removes the bullet from the list element
*
* @type Mixin
*/
=no-bullet
{
	list-style-type:none;
	margin-left:0;
}

/**
* No bullets
*
* Turns off bullets for the entire ul
*
* @type Mixin
*/
=no-bullets
{
	li
	{
		+no-bullet;
	}
}

/**
* Inherit
*
* Inherits all properties from the parent.
* @type Mixin
*/
=inherit
{
	font:inherit;
	color:inherit;
	background:inherit;
	border:inherit;
	text-decoration:inherit;
	text-shadow:inherit;
	text-transform:inherit;
}

/**
* Reset
*
* Reset an elements margin and padding so it's
* easier to style.
*
* @type Mixin
*/
=reset
{
	margin:0;
	padding:0;
}

/**
* Reset Box
*
* Resets the entire box model for the element
*
* @type Mixin
*/
=reset-box-model
{
	margin:0;
	padding:0;
	border:0;
}

/**
* Reset all
*
* A more detailed reset, covering most properties
*
* @type Mixin
*/
=reset-all
{
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/**
* Debug
*
* Adds styles to the element to make it easy to see. Requires
* Safari to use as it uses background-clip/origin and multiple 
* backgrounds. Sorry everyone else!
*
* Purple area is the padding
* Orange area is the content
* Green area is the border
*
* @type Mixin
*/
=debug
{
	background:
		url(data:image/PNG;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpi/vvfACDAAAU1AjAmqz/GAAAAAElFTkSuQmCC) top left repeat content,
		url(data:image/PNG;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpi8Iv+DxBgAAKjAam59iVwAAAAAElFTkSuQmCC) top left repeat padding
	;
}

/**
 * Hides an elements off the page, but keeps it visible for accessibility
 */
=hide
{
	position:absolute;
	top:-9999px;
	left:-9999px;
}
