/* -------------------------------------------------------------------- */

/* @group Development Styles */
	
/* -------------------------------------------------------------------- */


	#tests
	{
		padding: 36px;
		
		.layout div { min-height: 200px; }
		
		.showgrid-toggle {position: fixed; top: 0; right: 0; display:block; width:100%; background:#222;line-height:25px; text-align:center;text-decoration:none;opacity:0.9; color: #fff;}
		.showgrid-toggle:hover{background: #333; color:#fff;}
		#layout-options { position:fixed; top:0; right:0;}
	
		.box { columns:24; border-top: 5px solid #ddd; padding:13px 0 0 0; }
		.box .description {columns:8; }
		.box h3	{ columns:4; }
		.box pre { columns:12;margin-right:0;background:#eee;padding:grid(baseline);margin-top:0;}
		.box code {margin:0;}
		
		/* Styles for the test pages */
		#nav-wrap {position: fixed;left: 0;bottom: 0;width: 100%; background:#222;text-align: center; opacity: 0.9;padding:2px;} 
		#navigation { margin:0 auto; width:450px; }
		#navigation li {list-style:none;float:left;}
		#navigation li a {background: #111;width:100px;display:block;margin:2px; line-height:25px;color: #fff;text-decoration:none;}
		#navigation li a:hover{background:#000;}  
	
	}
	
	.layout-single-column 
	{
		#primary-content, #secondary-content, #tertiary-content { columns:24;}	
	}
	

	