/**
* Fixes the downsampling of images in ie7+ so that
* they appear smoother
*
* @bugfix
* @affected IE7+
* @valid no
*/
img { -ms-interpolation-mode: bicubic; } 

/**
* Fixes the double margin bug and expanding bug in IE6
*
* @bugfix
* @affected IE6
* @valid yes
*/
.ie6-fix { overflow:hidden; display:inline; } 

/**
* Fixes the choppy page scrolling
*
* @bugfix
* @affected IE6
* @valid yes
*/
html { background : url(null) fixed no-repeat;  }  

/**
* Fixes incorrect styling of legend elements
*
* @workaround
* @affected IE6
* @valid no
*/
* html legend { margin:0px -8px 16px 0; padding:0; }

/**
* Fixes incorrect placement of ol numbers in IE6/7.
*
* @bugfix
* @affected IE6, IE7
* @valid yes
*/
ol { margin-left:2em; }

/**
* Fixes wrong line-height on sup/sub in IE.
*
* @bugfix
* @affected IE
* @valid yes
*/
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

/**
* Fixes IE7 missing wrapping of code elements.
*
* @bugfix
* @affected IE7
* @valid no
*/
html>body p code { *white-space: normal; } 

/**
* Fix the padding on button elements
*
* @bugfix
* @affected IE6, IE7
* @valid yes
*/
button { padding:4px 10px 3px 7px; }


/**
* -------------------------
* @section Clears
* -------------------------
*/

/**
*  Makes clearfix actually work in IE
*
* @bugfix
* @affected IE6, IE7
* @valid no
*/
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}


/**
* -------------------------
* @section Forms
* -------------------------
*/

/**
*  Fixes padding on fieldset
*
* @bugfix
* @affected IE6, IE7
* @valid yes
*/
fieldset {padding-top: 0;}