/**
* ========================================================
* Buttons
*
* Created by Kevin Hale [particletree.com]
*
* @section Buttons
* @see particletree.com/features/rediscovering-the-button-element
* @since 1.0
* --------------------------------------------------------
*/

	a.button, button 
	{
	  display:block;
	  float:left;
	  margin:0 0.583em 0.667em 0;
	  padding:5px;   /* Links */
	  
	  border:1px solid #dedede;
	  border-top:1px solid #eee;
	  border-left:1px solid #eee;
	
	  background-color:#f5f5f5;
	  text-decoration:none;
	  color:#565656;
	  cursor:pointer;
	}
	
	button 
	{
	  	width:auto;
	 	overflow:visible;
	  	padding:4px 10px 4px 7px;
	  	
	  	/**
		* Buttons have trouble with line-heights
		* @bugfix
		* @affected IE
		* @valid yes
		*/
	  	line-height:math('grid(baseline)-1')px;
	}
	
	/**
	* --------------------------------------------------------
	* @subsection Button Colors
	* --------------------------------------------------------
	*/
	
	/* Standard */
	button:hover, 
	a.button:hover { background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699; }
	a.button:active { background-color:#6299c5; border:1px solid #6299c5; color:#fff; }
	
	/* Positive */
	.positive { color:#529214; }
	a.positive:hover, button.positive:hover { background-color:#E6EFC2; border:1px solid #C6D880; color:#529214; }
	a.positive:active { background-color:#529214; border:1px solid #529214; color:#fff; }
	
	/* Negative */
	.negative { color:#d12f19; }
	a.negative:hover, button.negative:hover { background:#fbe3e4; border:1px solid #fbc2c4; color:#d12f19; }
	a.negative:active { background-color:#d12f19; border:1px solid #d12f19; color:#fff; }


/**
* ========================================================
* Tabs
*
* Tabs Plugin 0.1 for the Blueprint CSS Framework
*
* @section Tabs
* @see http://blueprintcss.org
* @since 1.0
* --------------------------------------------------------
*/
	
	@base(tabs) 
	{ 
		border-bottom:1px solid #ccc;
		margin:0;
		min-height:auto;
		overflow:auto;
		
		li 
		{
		  	border:1px solid #ccc;
		  	border-bottom:none;
		  	float:left;
		  	line-height:1.5; 
		 	list-style-type:none;
		  	margin:0 .25em 0 0;
		  	padding:0;
		  
		  	a 
			{ 
				background:#ddd;
			  	border:1px solid #eee;
			  	border-bottom:none;
			  	color:#222;
			  	cursor:pointer;
			 	display:block;
			  	float:left;
			  	font-weight:bold;
			  	padding:.15em .33em .25em .33em;
			}
			
			a.selected 
			{ 
			  	background:#666;
			 	border:1px solid #666;
			  	border-bottom:none;
			  	color:#fff;
			  	cursor:default;
			}
			
			a, 
			a:focus, 
			a:hover 	{ text-decoration:none; }
			
			a:focus, 
			a:hover 	{ color:#555; outline:none; }
			
			a.selected:focus, 
			a.selected:hover { color:#fafafa; }
			
		}
		
		li.label 
		{ 
			border:none;
			font-weight:bold;
			line-height:1.5; 
			margin-right:.5em; 
			padding:.25em .33em .25em .33em;
		}
		
	!}
