/**
* ========================================================
* Reset
*
* Removes all the browser-specific styles.
*
* @section Reset
* @type Reset
* @where Global
* @since 1.0
* --------------------------------------------------------
*/

	html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, 
	pre,a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, 
	li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td 
	{
		margin: 0;
		padding: 0;
		border: 0;
		font-weight: inherit;
		font-style: inherit;
		font-size: 100%;
		font-family: inherit;
		vertical-align: baseline;
	}
	table 
	{
		border-collapse: separate;
		border-spacing: 0;
	}
	caption, th, td 
	{
		text-align: left;
		font-weight: normal;
	}
	table, td, th 
	{
		vertical-align: middle;
	}
	blockquote:before, blockquote:after, q:before, q:after 
	{
		content: "";
	}
	blockquote, q 
	{
		quotes: "" "";
	}
	a img {border: none;}
	
	pre,
	code,
	kbd,
	samp,
	var,
	output
	{
		white-space:pre;
	}

/**
* ========================================================
* HTML5
*
* EXPERIMENTAL
* Fix our HTML5 elements in older browsers: 
* http://orderedlist.com/articles/structural-tags-in-html5
* http://www.w3schools.com/tags/html5.asp 
* 
* Don't forget your JS in your documents to fix IE6/7 (which
* won't apply styles to unknown elements).
* 
* You can also use the doctype <!DOCTYPE html>
* 
* <script>
*   document.createElement('header');
*   document.createElement('footer');
*   document.createElement('section');
*   document.createElement('aside');
*   document.createElement('nav');
*   document.createElement('article');
* </script>
* 
* etc.
*
* @section HTML5
* @type Reset
* @where Global
* @since 1.0
* --------------------------------------------------------
*/
	
nav, section, article, header, aside, footer, figure, dialog { display:block; }
time, progress, mark, output { display:inline; }
			
