/**
* --------------------------------------------------------
* @section Common Content
* --------------------------------------------------------
*/

	/* eg. Post meta underneath its title */
	.meta			{ color:#888; }
	.sub-meta		{ color:#aaa; }
	
	.date			{ font-style:italic; }
	.author			{ font-weight:bold; }
	.avatar			{ height:50px; width:50px; }
	.category		{ font-weight:bold; }
	
	/* General content styles for text */
	.quiet     		{ color: #666; }
	.loud       	{ color: #000; }
	.highlight  	{ background:#ff0; } /* Or use the HTML5 <mark> tag */
	.added      	{ background:#060; color: #fff; } /* Or use <ins> */
	.removed    	{ background:#900; color: #fff; } /* Or use <del> */
	
	.small      	{ font-size: 11px; margin-bottom: grid(baseline); line-height: grid(baseline); } 
	.large      	{ font-size: 2.2em; line-height: math('grid(baseline)*2')px; margin-bottom: grid(baseline); letter-spacing: -1px; }	
		
/**
* --------------------------------------------------------
* @section Content Layout
* 
* @note Based on Jason Santa Maria's Work on 24Ways. 
* These aren't entirely semantic. But you don't want to 
* fill up your CSS with id's for every figure.
*
* @see http://24ways.org/2008/making-modular-layout-systems
* --------------------------------------------------------
*/	
	
	/* Alternatively use the html5 <figure> element instead of .pic */
	.pic, .caption  { add-to: selector('.small'); }
	
	.right 			{ float: right; margin: grid(baseline) 0 grid(baseline) grid(baseline); }
	.left 			{ float: left;  margin: grid(baseline) grid(baseline) grid(baseline) 0; }
	.solo	 		{ margin-bottom: grid(baseline); }
	
	.frame 			{ border: 1px solid #999; }
	.full			{ margin-left: 0; margin-right: 0; }
	
	/* If the figure isn't sitting flush to the paragraph or sides use these */
	.top        	{ margin-top:0; }
	.bottom     	{ margin-bottom:0;}
	.first			{ margin-left:0; }
	.last 			{ margin-right:0; }
		