/* @group Grid */
/* ---------------------------------------------------------------- */

	/* The grid plugin requires these settings*/
	@grid 
	{
		column-width:23;
		gutter-width:18;
		column-count:24;
		baseline:18;
	}
	
	/* Give our main wrapper a container class so that it's centered */
	#page 	{ add-to: selector('.container'); }

	#header { columns: 24; }
	#footer { columns: 24; }

/* @end */
/* @group Layouts */
/* ---------------------------------------------------------------- */
	
	/* Now all you have to do is give your body tag a class
	of .layout-name. Its by far the easiest way to create 
	layouts. */
	
	.layout-3-column
	{
		#primary-content 		{ columns:6; }
		#secondary-content		{ columns:12; }
		#tertiary-content		{ columns:6; margin-right:0; }
	}
	
	.layout-2-column
	{
		#primary-content 		{ columns:18; }
		#secondary-content		{ columns:6; margin-right:0; }
	}
	
	.layout-blog
	{
		#primary-content 		{ columns:18;float:right;margin-right:0; }
		#secondary-content		{ columns:6; }
	}
	
/* @end */
/* @group Navigation */
/* -------------------------------------------------------------------- */
	
	/* .inline-list is a class from the layout utilities */
	
	#navigation			{ add-to: selector('.inline-list'); }
	#navigation li 		{ }
	#navigation li a 	{ }


/* @end */