/* -------------------------------------------------------------------- */

/* @group Page Layout */
	
/* -------------------------------------------------------------------- */

	#page	{ }
	
	#header
	{ 
		columns		: 24!; 
		height		: 108px; 
		padding		: 10px; 
	}
	 
	#footer
	{ 
		columns		: 24!; 
		height		: round(100); 
		margin		: 0; 
	}
		
	#primary-content 		{ }
	#secondary-content		{ }
	#tertiary-content		{ }
	

/* @group Layout Styles */
/* ---------------------------------------------------------------- */
	

	
/* @end */
/* @group Navigation */
/* -------------------------------------------------------------------- */
	
	/* Give your navigation ul a class of .inline-nav in the markup */
	#navigation			{ }
	#navigation li 		{ }
	#navigation li a 	{ }



/* @end */
/* @group Specific / Unique */
/*---------------------------------------------------------------- */


/* @end */

