/**
* Demos
*
* These are styles for the demo. They test out every plugin and make
* sure they are all functioning the way they should be.
*
*/
body
{
	+reset;
	background:#D9F3F8;
	background:-webkit-gradient(linear, left top, left bottom, from(#E9F8FB), to(#D9F3F8));
	background-attachment:fixed;
	border-top:10px solid #444;
	padding-top:10px;
	padding-bottom:30px;
}

#page { +container; }

.box 
{
	+rounded(5px);
	+border-box;
	+columns(6);
	
	padding:20px;
	background:#fff !important;
	margin-top:!baseline;
	border:1px solid #bbc;
}

.box:nth-child(odd)
{
	float:right;
}

pre { background:#fafafa; padding:10px; border:1px solid #eee; }



#intro 
{
	border-bottom: 1px solid #bbc;
	padding-bottom:!baseline;
}
.page-intro 
{
	+helvetica;
	font-size:18px;
	line-height:24px;
	color:#444;
}