/**
* The main stylesheet which imports all of the others
* and sets up constants, grid etc.
* --------------------------------------------
*/
 
	@include '/scaffold/snippets/reset.css';
	
	/**
	* Assorted fixes for Internet Explorer 
	*
	* @bugfix
	* @affected IE6, IE7
	*/
	@browser gte IE 6
	{
		@import '/scaffold/snippets/ie-fixes.css';
	}

	/**
	* Demos
	*
	* These are styles for the demo. They test out every plugin and make
	* sure they are all functioning the way they should be.
	*
	*/
	
	#content-test 
	{
		p,h1,h2,h3,h4,h5,h6,ul,ol
		{
			+prepend(4);
			+append(2);
		}
	}
	
	#plugin-tests .group > div
	{
		+border-box;
		+rounded(10px);
		padding:20px;
		background:#f8f8f8;
	}
	
	#custom-content
	{
		div { extends:".wireframe"; margin-top:[!baseline / 2]px; margin-bottom:[!baseline / 2]px; }
		
		#header 		{ +columns(12); }
		#content 		{ +columns(6); }
		#sub-content 	{ +columns(3); }
		#aside 			{ +columns(3); }
		#footer 		{ +columns(12); }
	}

