/**
* The main stylesheet which imports all of the others
* and sets up constants, grid etc.
* --------------------------------------------
*/
 
	@include 'demo/constants.css';
	@include 'demo/typography.css';
	@include 'demo/layout.css';
	@include 'demo/browser-test.css';
	@include 'demo.css';
	
	@grid
	{
		column-width:50;
		column-count:12;
		gutter-width:10px;
		baseline:20px;
	}



