/**
* ========================================================
* Typography
*
* The type styles for the entire site. Every text element
* that is styled should be placed here and no where else.
*
* @section Typography
* @type Global
* @where Global
* @since 1.0
* --------------------------------------------------------
*/

	body 
	{ 
	  	font-size			: 13px;
	  	background			: #fff; 
	  	color				: #444;
	  	based-on			: helvetica;
	  	line-height			: grid(baseline);
	}

	/**
	* --------------------------------------------------------
	* @subsection Headings
	* --------------------------------------------------------
	*/
	
	h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }
	
	h1 
	{ 
		font-size			: 3em;
		font-weight			: bold;
		letter-spacing 		: -1px;
		based-on			: helvetica;
		line-height			: math('grid(baseline)*3')px;
		margin-bottom		: grid(baseline);
		clear				: both;
	}
	
	h2 
	{
		font-size			: 2em;
		based-on			: helvetica;
		line-height			: math('grid(baseline)*2')px;
		margin-bottom		: grid(baseline);
	}
	
	h3 
	{ 
		font-size			: 1.5em;
		based-on			: helvetica;
		line-height			: math('grid(baseline)*2')px;
		margin-bottom		: grid(baseline);  
	}
	
	h4 
	{ 
		font-size			: 1.2em;
		based-on			: helvetica;
		line-height			: grid(baseline);
		margin-bottom		: grid(baseline); 
	}
	
	h5 
	{ 
		font-size			: 1em;
		font-weight			: bold;
		based-on			: helvetica;
		line-height			: grid(baseline);
		margin-bottom		: grid(baseline); 
	}
	
	h6 
	{ 
		font-size			: 1em;
		font-weight			: bold;
		based-on			: helvetica;
		line-height			: grid(baseline);
		margin-bottom		: 0; 
	}
	
	h1 img, h2 img, h3 img, 
	h4 img, h5 img, h6 img { margin: 0; }
	
	/** @end */

	/**
	* --------------------------------------------------------
	* @subsection Text Elements
	* --------------------------------------------------------
	*/
	
	p				{ margin: grid(baseline) 0; }
	p:last-child	{ margin-bottom:0; }
	p:first-child	{ margin-top:0; }
	
	blockquote  	{ margin: grid(baseline); font-style: italic; color: #666; }
	cite			{}
	q				{}
	
	blockquote > *:first-child:before { content:"\201C"; }
	
	strong      	{ font-weight: bold; }
	em      	  	{ font-style: italic; }
	
	/**
	* Use the <mark> tag if you want to highlight parts of your text 
	*/
	mark 			{ background: #ffffd9; }
	
	pre,code,kbd,samp,var,output { margin: grid(baseline) 0; white-space: pre; }
	pre,code,tt,output,pre * { font-size: 11px; based-on: monospace; line-height: grid(baseline); }
	
	del         	{ color:#666; }
	ins 			{ background: #fffde2;text-decoration:none;}
	sup, sub    	{ line-height: 0; }
	
	abbr			{ } 
	acronym     	{ }
	dfn         	{ font-weight: bold; font-style: italic; }
	
	abbr[title],
	acronym[title],
	dfn[title] 		{ border-bottom:1px dotted #666; cursor:help; }
	
	time			{ }
	address     	{ margin: 0 0 grid(baseline); font-style: italic; }
	
	hr 				
	{ 
		clear:both; 
		float:left; 
		width:100%; 
		height:1px; 
		margin:-1px 0 grid(baseline) 0; 
		border:none; 
		background:#ddd; 
	}
	
	/* @end */
	/**
	* --------------------------------------------------------
	* @subsection Links
	* --------------------------------------------------------
	*/
	
	a:focus, 
	a:hover     	{ color: #000; }
	a           	{ color: #009; text-decoration: underline; }
	
	h2 a 			{}
	h3 a 			{}
	h4 a 			{}
	h5 a 			{}
	h6 a 			{}
	
	h1 a:hover		{}
	h2 a:hover 		{}
	h3 a:hover 		{}
	h4 a:hover 		{}
	h5 a:hover 		{}
	h6 a:hover 		{}
	
	/* @end */
	/**
	* --------------------------------------------------------
	* @subsection Lists
	* --------------------------------------------------------
	*/
	
	/* @group Lists */
	
	li ul, 
	li ol       	{ margin:0 grid(baseline); }
	ul, ol     		{ margin: 0 grid(baseline) grid(baseline) grid(baseline); }
	
	ul          	{ list-style-type: disc; }
	ol          	{ list-style-type: decimal; }
	
	dl          	{ margin: 0 0 grid(baseline) 0; }
	dt	      		{ font-weight: bold; }
	dd          	{ margin-left: grid(baseline);}
	
	/* @end */
	/**
	* --------------------------------------------------------
	* @subsection Tables
	* @note You still need cellspacing="0" in your markup
	* --------------------------------------------------------
	*/
	
	table       { margin-bottom: grid(baseline); width:100%; border-collapse:separate; border-spacing:0; }
	th          { font-weight: bold; background: #C3D9FF; }
	th,td       { padding: 4px 10px 4px 5px; }
	tr.alt td   { background: #E5ECF9; }
	tfoot       { font-style: italic; }
	caption     { background: #eee; }

	/* @end */
/**
* ========================================================
* Image Replacements
*
* All of the image-replaced titles go here. Remember that
* Scaffold comes with a built-in image replacement plugin.
* You can image replace like so:
*
* .selector 
* {
*	 image-replace: 'image-name'; 
* }
*
* @section Image Replacements
* @type Global
* @since 1.0
* --------------------------------------------------------
*/
	
   	/* For manual image-replaced titles */
   	.image-replaced
	{
		display:block;
		text-indent:-9999px;
		background-repeat: no-repeat;
		background-position: 0 0;
		overflow:hidden;
	}

/* @end */	
/**
* ========================================================
* Type Utilities
*
* Some fancy type classes you can optionally use. 
*
* @section Type Utilities
* @type Utilities
* @since 1.0
* --------------------------------------------------------
*/

	/** 
	* Incremental Leading 
	*
	* Every 4 lines of normal type, there are 5 lines of
	* smaller type 
	*/
	@base(small-type) 
	{ 
		line-height: math('(grid(baseline)*4)/5')px; 
		font-size: 11px; 
	!} 


	/* Surround uppercase words and abbreviations with this class.
   Based on work by Jørgen Arnor Gårdsø Lom [http://twistedintellect.com/] */
	@base(caps) 
	{ 
		font-variant: small-caps; 
		letter-spacing: 1px; 
		text-transform: lowercase; 
		font-size:1.2em;
		line-height:1%;
		font-weight:bold;
		padding:0 2px;
	!}
	
	
	/* Special Links
	a.external:after		{ margin:0 5px 0 0; font-family:"Zapf Dingbats"; content: "\279C"; } 
 	a[href$="pdf"]:after	{ content: " (PDF)"; }  
	a[href$=".doc"]:after	{ content: " (DOC)"; } 
	*/
	
	/* Drop Cap */
	p.drop-cap:first-letter
	{  
		display:block;  
		margin:5px 0 0 5px;  
		float:left;    
		font-size:60px;  
		font-family:Georgia;  
	}
	
	/* For some nice Ampersands */
	.nice-amp 
	{ 
	  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
	  font-style: italic;
	  font-weight: normal;
	}

/* @end */
/**
* ========================================================
* Specific Type Elements
*
* This is where your type definitions for specific elements
* reside. This can be as simple as #sidebar { color: #000; }
* Try to keep as many of the font styles in this file as possible. 
*
* @section Specific Type Elements
* @type Specific
* @where Custom
* @since 1.0
* --------------------------------------------------------
*/


/* Your styles here */



/* @end */

/* @end */
