/* ------------------------------------------------------------------

	Grid
		
	You can easily generate 960.gs style grids within your css. It's 
	very easy to use, see the example below.
	
	To see how this renders, open up this stylesheet using scaffold,
	eg. http://localhost/scaffold/index.php?request=stylesheets/demo/expressions.css
	
------------------------------------------------------------------ */

/*
You setup your grid using @grid
*/
@grid 
{
	column-width:60;
	gutter-width:10px;
	column-count:12;
	baseline:20px;
}

/*
The layout plugin for Scaffold will only work
if the above settings are present. Once they are
you have access to alot of new constants and mixins.

The first, and most basic thing this adds are constants

	- !baseline
	- !column-count
	- !column-width
	- !grid-width
	- !gutter-width
*/

#id
{
	margin-right:!gutter-width;
}

#id
{
	width:!grid-width;
}

/*
There are new mixins to use also:

	- columns
	- push
	- pull
	- append
	- prepend
	- baseline-up
	- baseline-down

See the wiki for more information.
*/

#id
{
	+columns(4);
}
