/* ------------------------------------------------------------------

	Object-oriented CSS using 'extends'
	
	You can extend a selector by using the property "extends". This
	allows the selector to mimic the parent and extend its properties.
	
	This allows you to avoid stacking classes in your markup.
	
	To see how this renders, open up this stylesheet using scaffold,
	eg. http://localhost/scaffold/index.php?request=stylesheets/demo/oocss.css
	
------------------------------------------------------------------ */

.box 
{
	border:1px solid #eee;
	background:#fff;
	height:50px;
}

/*
This special box has all the properties of .box,
but adds its own special features.
*/
.special-box
{
	extends:'.box';
	padding:10px;
	border-width:4px;
	margin-top:!baseline;
}

.special-box a
{
	color:yellow;
}

/* 
This box extends special box, which extends box. So you'll get 
all of the properties of both.
*/
.another-box
{
	extends:'.special-box';
	padding:5px;
	background:#555;
	color:#fff;
}
