/**
 * Adds a drop shadow
 */
=box-shadow($x, $y, $blur, $color, $inset = '')
{
 	-moz-box-shadow: $inset $x $y $blur $color;
	-webkit-box-shadow: $inset $x $y $blur $color;
	box-shadow: $inset $x $y $blur $color;
}