/**
 * Rotate an element 90, 180 or 270 degrees
 */
=rotate($angle)
{
	-webkit-transform: rotate(calc($angle)deg);
	-moz-transform: rotate(calc($angle)deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=calc(90 / $angle));
}