/* ------------------------------------------------------------------

	Expressions - Math in your css
		
	You can perform math and other expressions within your css very
	easily. Any property value which contains [expression] is parsed
	as php. See the examples below.
	
	You CAN include CSS constants you've set using @constants.
	There are also constants built into Scaffold you should know about,
	see the Scaffold wiki for more information.
	
	To see how this renders, open up this stylesheet using scaffold,
	eg. http://localhost/scaffold/index.php?request=stylesheets/demo/expressions.css
	
------------------------------------------------------------------ */

@constants
{
	test:20;
}

.expression
{
	height:#[(100*1.5) - 10 / 20]px;
	background:#eee;
}

#[enumerate("columns-",1,12)]
{
	padding:#[floor(!test * 1.5)]px;
	border:1px solid #eee;
	margin-top:#[!test]px;
}

[accesskey]:after 
{
	content: "[" attr(accesskey) "]";
}