/* --------------------------------------------------------

	This stylesheet shows you how you might 
	structure the layout file of your design.

	REQUIRES THE LAYOUT PLUGIN
	http://github.com/anthonyshort/Layout/tree/master

-------------------------------------------------------- */	
	
	/**
	 * Create our grid. Fairly self-explanatory. This is required
	 * to use any of the layout plugins features.
	 */
	@grid
	{
		column-width:60;
		column-count:12;
		gutter-width:10px;
		baseline:20px;
	}

	/**
	* +container is a mixin built into Scaffold.
	* It functions the same as the blueprint or 960.gs container
	*/
	.container 		{ +container; }
	
	/**
	 * This mixin will generate all of the grid classes, .columns-1 etc
	 * You can find the file for this in scaffold/plugins/layout/support/mixins/
	 */
	+grid-classes;
	
	/**
	 * This is the content we layout with mixins instead of classes (the second grid)
	 * We use nested selectors to make it neater, and the columns mixin. The number
	 * is the number of columns.
	 */
	#custom-content
	{
		div 			{ margin-bottom:!baseline; }
		#header 		{ +columns(12); }
		#content 		{ +columns(6); }
		#sub-content 	{ +columns(3); }
		#aside 			{ +columns(3); }
		#footer 		{ +columns(12); }
	}
	
	/**
	 * This is the styled content down the bottom.
	 * We want to push everything in on both sides, so we
	 * use the append and prepend mixins.
	 */
	#content-test 
	{
		p,h1,h2,h3,h4,h5,h6,ul,ol
		{
			+prepend(4);
			+append(2);
		}
	}


