/**
* The main stylesheet which imports all of the others
* and sets up constants, grid etc.
* --------------------------------------------
*/
 
 	@include '/templates/reset.css';
	@include '/templates/typography.css';
	@include '/templates/content.css';
	
	@include 'demo/constants.css';
	@include 'demo/layout.css';
	@include 'demo/browser-test.css';
	
	@grid
	{
		column-width:60;
		column-count:12;
		gutter-width:10px;
		baseline:20px;
	}
	
	/**
	* Demos
	*
	* These are styles for the demo. They test out every plugin and make
	* sure they are all functioning the way they should be.
	*
	*/
	
	body
	{
		+reset;
		background:#D9F3F8;
		background-attachment:fixed;
		border-top:10px solid #444;
		padding-top:10px;
		padding-bottom:30px;
	}
	
	#page 
	{ 
		+container; 
	}
	
	.box 
	{
		+border-radius(5px);
		+border-box;
		+columns(6);
		
		padding:20px;
		background:#fff !important;
		margin-top:!baseline !important;
		border:1px solid #bbc;
		
		&:nth-child(odd)
		{
			float:right;
		}
	}
	
	#intro 
	{
		border-bottom: 1px solid #bbc;
		padding-bottom:!baseline;
	}
	
	.page-intro 
	{
		+helvetica;	
		font-size:18px;
		line-height:24px;
		color:#444;
	}
	
	.wireframe div 	{ background:rgba(255,0,0,0.4); min-height:[!baseline*3]px; margin-bottom:!baseline; }
	.clear 			{ clear:left; }
	
		
	+grid-classes;
