/**
* The main stylesheet which imports all of the others
* and sets up constants, grid etc.
* --------------------------------------------
*/
 
 	@include '/templates/reset.css';
	@include '/templates/typography.css';
	@include '/templates/content.css';
	
	/**
	* Demo styles
	*
	* These are styles for the demo pages.
	*
	*/
	
	body
	{
		+reset;
		background:#D9F3F8;
		border-top:10px solid #444;
		padding:10px 0 30px;
	}
	
	#page 
	{ 
		+container; 
	}
	
	.box 
	{
		+border-radius(5px);
		+border-box;
		+columns(6);
		
		padding:20px;
		background:#fff !important;
		margin-top:!baseline !important;
		border:1px solid #bbc;
		
		&:nth-child(odd)
		{
			float:right;
		}
	}
	
	#intro 
	{
		border-bottom: 1px solid #bbc;
		padding-bottom:!baseline;
	}
	
	.page-intro 
	{
		+helvetica;	
		font-size:18px;
		line-height:24px;
		color:#444;
	}
	
	.wireframe div 	{ background:rgba(255,0,0,0.4); min-height:[!baseline*3]px; margin-bottom:!baseline; }
	.clear 			{ clear:left; }


	/**
	 * Including these last for a reason. The layout classes should
	 * really come after everything else so they override everything.
	 */
	@include 'demo/constants.css';
	@include 'demo/layout.css';
	@include 'demo/browser-test.css';