#id
{
	opacity:0.75;
	-moz-opacity:0.75;
	-khtml-opacity:0.75;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=math(0.75*100))";
	filter:alpha(opacity=math(0.75*100));
}

#id
{
	height: math( floor( (100 * 5.3256) + (5/3) - 10) )px;
}

#id
{
	margin:math( floor( (10+1) / 2 + (421 + 3) ))px math(42*2)px math(234-23)px math(32323-1)px;
}