/* ------------------------------------------------------------------

	Targetting Internet Explorer
		
	You can target chunks of your css to particular versions of IE by
	using @browser. It works just like the html conditional tests
	for IE.
	
	Browser targetting is generally considered bad. So you can only
	targeting your css at IE.
	
	The syntax is:
	
	@browser {condition} {browser} {version}
	
	The condition can be:
	
	lt 	- Less than
	lte - Less than or equal too
	gt 	- Greater than
	gte	- Greater than or equal too
	!	- NOT equal too
		- Nothing will target it only at that browser
		
	Test this stylesheet using Safari 4 and change the user agent to
	see the effects easily.
	
	To see how this renders, open up this stylesheet using scaffold,
	eg. http://localhost/scaffold/index.php?request=stylesheets/demo/browser-tests.css
	
------------------------------------------------------------------ */

	#browsers div
	{
		line-height:50px;
		margin:!baseline 0;
		border:1px solid #ccc;
		text-align: center;
		font-size:24px;
		color:#fff;
		background:red;
	}
	
	@browser IE
	{
		#browsers #ie { background:green; }
	}
	
	@browser IE 6
	{
		#browsers #ie6 { background:green; }
	}			
	
	@browser gt IE 6
	{
		#browsers #gtie6 { background:green; }
	}
	
	@browser gte IE 6
	{
		#browsers #gteie6 { background:green; }
	}
	
	@browser IE 7
	{
		 #browsers #ie7 { background:green; }
	}
	
	@browser gt IE 7
	{
		#browsers #gtie7 { background:green; }
	}
	
	@browser gte IE 7
	{
		 #browsers #gteie7 { background:green; }
	}
	
	@browser lt IE 7
	{
		 #browsers #ltie7 { background:green; }
	}
	
	@browser lte IE 7
	{
		 #browsers #lteie7 { background:green; }
	}
	
	@browser !IE
	{
		 #browsers #notice { background:green; }
	}